@font-face {
  font-family: Heuristica;
  src: url('../../../assets/fonts/heuristica-regular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: Heuristica;
  src: url('../../../assets/fonts/heuristica-italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Heuristica;
  src: url('../../../assets/fonts/heuristica-bold.otf') format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: Lugfa;
  src: url('../../../assets/fonts/Lufga-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: Myriad;
  src: url('../../../assets/fonts/MyriadPro-Regular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: TTNorms;
  src: url('../../../assets/fonts/TTNormsPro-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: TTNorms;
  src: url('../../../assets/fonts/TTNormsPro-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: TTNorms;
  src: url('../../../assets/fonts/TTNormsPro-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: TTNorms;
  src: url('../../../assets/fonts/TTNormsPro-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: Noto;
  src: url('../../../assets/fonts/NotoSerifDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
}