%flex-row {
  display: flex;
  flex-direction: row;
}

%flex-column {
  display: flex;
  flex-direction: column;
}

%ul-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

%padding {
  padding-right: 80px;
  padding-left: 80px;

  @media screen and (max-width: 768px) {
    padding-right: 20px;
    padding-left: 20px;
  }
}

%title {
  margin: 0;
  font-family: TTNorms, arial, serif;
  font-size: 36px;

  @media screen and (max-width: 767px) {
    font-size: 30px;
  }
}

%item-title {
  margin: 0;
  padding-top: 34px;
  font-family: TTNorms, arial, serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;

  @media screen and (max-width: 767px) {
    font-size: 16px;
    line-height: 18px;
  }
}

%item-description {
  font-family: TTNorms, arial, serif;
  font-size: 14px;
  font-weight: 400;

}


