.about {
  display: grid;
  column-gap: 30px;
  row-gap: 30px;
  grid-template-columns: 250px 250px 1fr 1fr;
  grid-template-areas:
    "title line description description"
    "empty empty subtitle subtitle"
    "item1 empty1 item2 item3";

  @media screen and (max-width: 1440px) {
    grid-template-columns: 200px 200px 1fr 1fr;
  }

  @media screen and (max-width: 1279px) {
    display: flex;
    flex-direction: column;
  }

  &__line {
    grid-area: line;
    width: 240px;
    height: 0.5px;
    margin-top: 30px;
    background-color: #000;

    @media screen and (max-width: 1440px) {
      width: 200px;
      margin-top: 20px;
    }

    @media screen and (max-width: 1279px) {
      display: none;
    }
  }

  &__description {
    grid-area: description;
    margin: 0;
    align-self: baseline;
    font-size: 36px;
    line-height: 48px;
    color: #808080;

    @media screen and (max-width: 1440px) {
      font-size: 24px;
      line-height: 34px;
    }

    @media screen and (max-width: 1279px) {
      padding-top: 38px;
    }
  }

  &__empty {
    grid-area: empty;
  }

  &__mission {
    margin: 0;
    padding-top: 180px;
    padding-bottom: 30px;
    grid-area: subtitle;
    font-family: TTNorms, arial, serif;
    font-size: 36px;
    line-height: 42px;
    font-weight: 700;

    @media screen and (max-width: 1440px) {
      font-size: 24px;
      padding-top: 140px;
    }

    @media screen and (max-width: 1279px) {
      
      padding-top: 72px;
      align-self: center;
    }
  }
}
