.about {
  display: grid;
  column-gap: 30px;
  row-gap: 30px;
  grid-template-columns: 200px 170px 1fr 1fr;
  grid-template-areas:
    "title line description description"
    "empty empty subtitle subtitle"
    "item1 item1 item2 item3";

  @media screen and (min-width: 1024px) and (max-width: 1279px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "title nth nth"
    "description description description"
    "subtitle subtitle subtitle"
    "item1 item2 item3";
  }

  @media screen and (max-width: 1023px){
    display: flex;
    flex-direction: column;
  }

  .item {
    align-self: flex-start;

    @media screen and (max-width: 1023px){
      align-self: center;
    }

    @media screen and (max-width: 767px) {
      max-width: 280px;
    }
  }

  .item1 {
    grid-area: item1;
  }

  .item2 {
    grid-area: item2;
  }

  .item3 {
    grid-area: item3;
  }

  &__line {
    grid-area: line;
    width: 170px;
    height: 0.5px;
    margin-top: 20px;
    background-color: #000;

    @media screen and (max-width: 1279px) {
      display: none;
    }
  }

  &__description {
    grid-area: description;
    margin: 0;
    align-self: baseline;
    font-size: 24px;
    line-height: 34px;
    color: #808080;

    @media screen and (max-width: 1279px) {
      padding-top: 38px;
    }

    @media screen and (max-width: 767px) {
      padding-top: 0px;
      font-size: 16px;
      line-height: 20px;
    }
  }

  &__empty {
    grid-area: empty;

    @media screen and (max-width: 767px){
      display: none;
    }
  }

  &__mission {
    margin: 0;
    padding-top: 140px;
    padding-bottom: 30px;
    grid-area: subtitle;
    font-family: TTNorms, arial, serif;
    font-size: 24px;
    line-height: 42px;
    font-weight: 700;

    @media screen and (max-width: 1279px) {
      text-align: center;
      padding-top: 72px;
      align-self: center;
    }

    @media screen and (max-width: 767px) {
      padding-top: 0px;
      padding-bottom: 0px;
      font-size: 16px;
    }
  }
}
