.footer {
  width: 100%;
  background-color: rgba(230, 230, 230, 0.43);
  padding-top: 70px;
  padding-bottom: 90px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;

  &__wrapper {
    @extend %padding;
    box-sizing: border-box;
    width: 100%;
    max-width: 1366px;

    @media screen and (max-width: 1023px) {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }
  }
  
  &__info-wrapper {
    padding-top: 61px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @media screen and (max-width: 1023px) {
      align-items: flex-start;
      padding-top: 0;
    }
  }

  &__links {
    @extend %flex-row;
    align-items: flex-end;
    column-gap: 60px;

    @media screen and (max-width: 1023px) {
      padding-left: 2s0px;
      flex-direction: column-reverse;
      align-items: flex-start;
      row-gap: 20px;
    }
  }

  &__links a {
    text-decoration: none;
    color: black;
    display: block;
    max-width: 330px;
    font-family: TTNorms, serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    transition: all .2s linear;

    &:hover {
      text-shadow: .8px 0px #000;
    }

    @media screen and (max-width: 767px){
      font-size: 14px;
    }
  }

  &__contacts {
    @media screen and (max-width: 1023px){
      display: flex;
      flex-direction: column;
      row-gap: 10px;
    }
  }

  &__social-list {
    @extend %ul-list;
    @extend %flex-row;
    column-gap: 20px;
    padding-bottom: 10px;
  }

  &__social-item {
    display: block;
    width: 20px;
    height: 20px;

    svg {
      height: 20px;
      fill: rgba(0, 0, 0, 0.6);
      transition: all .3s linear;

      &:hover {
        fill: #000;
      }
    }
  }

  &__geo {
    display: none;
  }
}