.header {
  z-index: 2;
  width: 100%;
  max-width: 1366px;
  box-sizing: border-box;
  padding: 54px 80px 0 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: all .3s linear;

  @media screen and (min-width: 1024px) and (max-width: 1279px) {
    flex-direction: column;
    row-gap: 30px;
  }

  @media screen and (max-width: 1023px) {
    height: 15vh;
    background-color: white;
    padding: 30px 40px;
    position: fixed;
  }

  @media screen and (max-width: 767px) {
    padding: 20px 20px;
    height: 10vh;
  }
}
