
@use 'global';
@use 'fonts';
@import 'variables';
@import 'normalize';
@import 'card';
@import 'section';
@import 'header';
@import 'burger';
@import 'logo';
@import 'navigation';
@import 'banner';
@import 'about';
@import 'recommend';
@import 'footer';
@import 'subscribe';

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Heuristica, Arial, Helvetica, sans-serif;
}
