.logo {
  display: block;

  &__image {
    background-image: url("../../../assets/images/logo.svg");
    width: 300px;
    height: 57px;
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (max-width: 1024px) {
      width: 200px;
      height: 38px;
    }

    &_footer {
      @media screen and (max-width: 767px) {
        max-width: 220px;
        min-width: 42px;
        min-height: 73px;
        background-image: url("../../../assets/images/logo_small.svg");
        background-size: contain;
      }
    }
  }

  &_footer {
    width: 15vw;
  }
}
