.recommend {
  @extend %flex-column;
  font-family: TTNorms, serif;

  &__title {
    margin: 0;
    @extend %flex-row;
    column-gap: 10px;
    align-items: baseline;
    padding-top: 84px;
    line-height: 24px;
    font-size: 30px;
  }

  &__list {
    @extend %ul-list;
    padding-top: 54px;
    @extend %flex-column;
    row-gap: 60px;
  }

  &__item {
    display: grid;
  }

  &__link {
    text-decoration: none;
    color: #000;
    display: grid;
    grid-template-columns: 200px 1fr;
    column-gap: 40px;
    grid-template-areas:
      "image title"
      "image description";
  }

  &__image {
    grid-area: image;
    width: 200px;
    height: 200px;
    background-color: #808080;
  }

  &__article {
    grid-area: title;
    margin: 0;
    padding-top: 10px;
    display: block;
    color: #000;
    font-size: 28px;
    line-height: 34px;
    font-weight: 500;
    display: grid;
    width: 200px;
  }

  &__preview {
    grid-area: description;
    margin: 0;
    display: block;
    width: 280px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }
}