.subscribe {
  @extend %padding;
  padding-top: 3%;
  padding-bottom: 5%;
  box-sizing: border-box;
  width: 100%;
  background-image: url("../../../assets/images/subscribe.jpg");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: calc(66.6% - 42px);

  @media screen and (max-width: 1289px) {
    background-size: cover;
    padding-top: 5%;
  }


  &__wrapper {
    margin: 0 auto;
    background-color: #f2f2f2;
    width: 40%;
    padding: 5% 10%;
    
    @media screen and (max-width: 1440px) {
      padding: 3% 8%;
    }

    @media screen and (max-width: 1289px) {
      width: 80%;
      box-sizing: border-box;
      padding: 5% 10%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__title {
    margin: 0;
    width: 250px;
    font-size: 48px;
    font-weight: 400;

    span {
      font-style: italic;
    }

  }

  &__form {
    padding-top: 46px;
    @extend %flex-column;
    row-gap: 52px;
  }

  &__container {
    @extend %flex-column;
    row-gap: 18px;
  }

  &__input-container {
    position: relative;
  }

  &__icon {
    position: absolute;
    top: 25%;
    left: 2%;
    width: 25px;
    
    &_mail {
      top: 35%;
    }
  }

  &__input {
    width: 80%;
    padding: 15px 0 12px 60px;
    box-sizing: border-box;
    border: none;
    font-family: TTNorms, serif;
    font-size: 14px;
    font-weight: 300;
    color: #999999;

    @media screen and (max-width: 1289px){
      width: 100%;
    }
  }

  &__info {
    @extend %flex-row;
    column-gap: 25px;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 1289px) {
      flex-direction: column;
    }
  }

  &__button {
    cursor: pointer;
    padding: 12px 23px;
    border: none;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    font-family: TTNorms, serif;
    font-size: 14px;
    font-weight: 700;
  }

  &__rules {
    font-family: TTNorms, serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 300;
    color: #999999;
  }
}
