.subscribe {
  position: relative;
  width: 100%;
  max-width: 1366px;
  @extend %padding;
  padding-top: 72px;
  padding-bottom: 60px;
  box-sizing: border-box;

  &__wrapper {
    margin: 0 auto;
    background-color: #f2f2f2;
    width: 40%;
    padding: 30px 120px;

    @media screen and (max-width: 1289px) {
      width: 80%;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @media screen and (max-width: 767px) {
      width: 90%;
      padding: 5% 10%;
    }
  }

  &__image {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 80px;
    max-width: 890px;
  }

  &__title {
    margin: 0;
    max-width: 250px;
    font-size: 48px;
    font-weight: 400;

    span {
      font-style: italic;
    }

    @media screen and (max-width: 767px) {
      text-align: center;
      font-size: 30px;
      line-height: 36px;
    }
  }

  &__form {
    padding-top: 46px;
    @extend %flex-column;
    row-gap: 52px;

    @media screen and (max-width: 767px) {
      padding-top: 15px;
      row-gap: 12px;
    }
  }

  &__container {
    @extend %flex-column;
    row-gap: 18px;

    @media screen and (max-width: 767px) {
      row-gap: 12px;
    }
  }

  &__input-container {
    position: relative;
  }

  &__icon {
    position: absolute;
    top: 25%;
    left: 2%;
    width: 25px;

    @media screen and (max-width: 767px) {
      top: 30%;
      left: 5%;
      width: 16px;
    }

    &_mail {
      top: 35%;

      @media screen and (max-width: 767px) {
        top: 40%;
      }
    }
  }

  &__input {
    width: 100%;
    padding: 15px 0 12px 60px;
    box-sizing: border-box;
    border: none;
    font-family: TTNorms, serif;
    font-size: 14px;
    font-weight: 300;
    color: #999999;

    @media screen and (max-width: 1289px) {
      width: 100%;
    }

    @media screen and (max-width: 767px) {
      padding-left: 35px;
      font-size: 12px;
    }
  }

  &__info {
    @extend %flex-row;
    column-gap: 25px;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 1289px) {
      flex-direction: column;
    }
  }

  &__button {
    cursor: pointer;
    padding: 12px 23px;
    border: none;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    font-family: TTNorms, serif;
    font-size: 14px;
    font-weight: 700;

    @media screen and (max-width: 767px) {
      font-size: 12px;
    }
  }

  &__rules {
    margin: 0;
    padding-top: 15px;
    font-family: TTNorms, serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 300;
    color: #999999;

    @media screen and (max-width: 767px) {
      font-size: 10px;
    }
  }
}
