.side-bar {
  &__info {
    width: 515px;
    padding: 49px 47px;
    box-sizing: border-box;
    background-color: rgba(230, 230, 230, 0.43);
  }

  &__title {
    margin: 0;
    width: 150px;
    font-family: TTNorms, serif;
    font-size: 30px;
  }

  &__geo {
    padding-top: 60px;
    margin: 0;
    display: flex;
    width: 400px;
    font-family: TTNorms, serif;
    font-size: 19px;
    font-weight: normal;
    line-height: 23px;
    color: #808080;

    img {
      width: 34px;
      padding-right: 10px;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    padding-top: 50px;
    list-style-type: none;
    position: sticky;
  }

  &__item {
    display: flex;
    font-family: TTNorms, serif;
    font-size: 18px;
    line-height: 40px;
  }

  &__item-title {
    margin: 0;
    font-weight: 700;
  }

  &__item-text {
    font-weight: 400;
  }

  
}
